<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.stock.repository.StockDAO" >
    <resultMap id="BaseResultMap" type="com.work.stock.entity.Stock" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="sn" property="sn" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List" >
    id, sn, num, create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_stock
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.work.stock.entity.Stock" >
    insert into t_stock (id, sn, num, create_time)
    values (#{id,jdbcType=BIGINT}, #{sn,jdbcType=VARCHAR}, #{num,jdbcType=DECIMAL},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.work.stock.entity.Stock" >
        insert into t_stock
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="sn != null" >
                sn,
            </if>
            <if test="num != null" >
                num,
            </if>
            <if test="create_time != null ">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sn != null" >
                #{sn,jdbcType=VARCHAR},
            </if>
            <if test="num != null" >
                #{num,jdbcType=DECIMAL},
            </if>

            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.work.stock.entity.Stock">
        update t_stock
        set sn = #{sn,jdbcType=VARCHAR},
        num = #{num,jdbcType=DECIMAL},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>